<!-- /*<style type="text/css">
  * {
    border: 1px dotted red
  }
</style>*/ -->
<div class="ui container">
    <script>
    $(document).ready(function() {
      $("#question_text").markdown({autofocus:false,savable:true})
    });
    </script>
    <nav-bar></nav-bar>
    <div class="ui segment center aligned">
        <img height="110" src="images/stackdojoflow.png">
    </div>
    <div class="ui very padded segment">
      <div class="ui form">
        <h2 class="ui center aligned icon header">
        </h2>
        <form ng-submit="createQuestion()">
          <div class="field">
            <label class="field">Title</label>
            <input class="field" placeholder="What's you programming question? Be specific." type="text" ng-model="newQuestion.title" required>
          </div>
          <div class="field">
            <textarea id='question_text' ng-model="newQuestion.description" placeholder="Question Description" rows="4" cols="80" required></textarea>
          </div>
          <br>
          <select ng-model="newQuestion.topic" required>
            <option selected disabled value="">Topic</option>
            <option value="python">Python</option>
            <option value="htmlcss">HTML / CSS</option>
            <option value="mean">MEAN</option>
            <option value="ruby">Ruby</option>
             <option value="ios">iOS</option>
              <option value="csharp">C# / ASP.NET</option>
               <option value="misc">Misc</option>
          </select>
          <br>
          <button class="btn btn-success btn- m"type="submit" name="button">Post Your Question</button>
        </form>
      </div>
    </div>

</div>
