<div class='ui container'>
  <nav-bar></nav-bar>
    <div id='dash-body'>
        <div id='recent_q'>
            <h3>Recent Questions</h3>
            <table class="ui inverted table">
              <thead>
                <tr>
                    <th>Question</th>
                    <th>Topic</th>
                    <th>Ninja</th>
                    <th>Posted</th>
                    <th>Upvotes</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='question in questions'>
                    <td><a href="#!/question/{{question._id}}">{{question.title}}</a></td>
                    <td><a href="#!/topic/{{question.topic}}">{{topicNames[question.topic]}}</a></td>
                    <td>{{question._user.name}}</td>
                    <td>{{question.posted_at | date:'medium'}}</td>
                    <td>{{question.upvotes}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <hr>
        <div id='pop_ninja'>
          <h3>Popular Ninjas</h3>
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Ninja name</th>
                <th>Stars</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div class="ui ribbon label">Jace</div><i class="paw icon"></i></td> 
                <td>1000stars</td>
              </tr>
              <tr>
                <td>Taylor</td>
                <td>570stars</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div id='pop_q'>
            <h3>Recent Questions</h3>
            <table class="ui green table">
              <thead>
                <tr>
                    <th>Question</th>
                    <th>Topic</th>
                    <th>Ninja</th>
                    <th>Posted</th>
                    <th>Upvotes</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='question in questions | orderBy : "-posted_at"'>
                  <td>question#1</td>
                  <td>{{question.topic}}</td>
                  <td>{{question.description}}</td>
                  <td>{{question.posted_at | date:'medium'}}</td>
                  <td>{{question.upvotes}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <hr>
        <div id='pop_topic'>
            <h3>Popular Ninjas</h3>
            <table class="ui table">
              <tbody>
                <tr>
                  <td class="collapsing">
                    <i class="folder icon"></i> MEAN
                  </td>
                  <td> 100 questions</td>
                </tr>
                <tr>
                  <td class="collapsing">
                    <i class="folder icon"></i> Python
                  </td>
                  <td> 79 questions</td>
                </tr>
                <tr>
                  <td class="collapsing">
                    <i class="folder icon"></i> iOS
                  </td>
                  <td> 52 questions</td>
                </tr>
                <tr>
                  <td class="collapsing">
                    <i class="folder icon"></i> Ruby
                  </td>
                  <td> 26 questions</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
