<style>
body {
    background-image: url('images/easterbunny.jpg');
    background-size: 20%;
    background-repeat:repeat;
}
</style>
<div class='ui container'>
    <enav-bar></enav-bar>
    <div class="ui segment center aligned">
        <img height="110" src="images/peep.gif">
        <img height="110" src="images/jackoverflow.png">
        <img height="110" src="images/peep.gif">
    </div>
    <p>Sort By: <a href="" ng-click="sortQuestion = '-posted_at'">Recent</a> | <a href="" ng-click="sortQuestion = '-upvotes.length'">Popular</a><a href="#!/easter">&nbsp;</a></p>
    <div class="ui grid">
        <div class="twelve wide column">
            <div class="ui fluid input">
                <input class='prompt' type='text' ng-model='questionSearch' placeholder="Search Questions...">
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="twelve wide column">
            <div id='popular_questions'>
                <table class="ui small orange celled table">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Topic</th>
                            <th>Ninja</th>
                            <th>Posted</th>
                            <th>Upvotes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='question in questions | orderBy : sortQuestion | filter:questionSearch'>
                            <td>
                                <div class="dashtabletext"><a href="#!/question/{{question._id}}">{{question.title}}</a></div>
                            </td>
                            <td><a href="#!/topic/{{question.topic}}">{{topicNames[question.topic]}}</a></td>
                            <td>
                                <a href='#!/user/{{question._user.id}}'>{{question._user.name}}</a>
                            </td>
                            <td>{{question.posted_at | date:'medium'}}</td>
                            <td>{{question.upvotes.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="four wide column">
            <div id='popular_topics' class="ui orange card">
                <div class="content">
                    <div class="header">Popular Topics</div>
                </div>
                <div class="content">
                    <div class="ui small feed">
                        <div class="event" ng-repeat='topic in topics | orderBy:"-questions"'>
                            <div class="content">
                                <div class="summary">
                                    <a href='#!/topic/{{topic.topic}}'>{{topic.name}}</a> <strong class="right floated">{{topic.questions}} Questions</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='popular_ninjas' class="ui orange card" ng-controller='userController'>
                <div class="content">
                    <div class="header">Top Ninjas <img src="./../images/ninja_turtle.png" alt="" style="float: right"></i>
                    </div>
                </div>
                <div class="content" ng-repeat='user in users | orderBy: "-ninja_stars" | limitTo: 5'>
                    <img class="right floated mini ui image" src="{{user.avatar_url}}">
                    <div class="header">
                        {{user.name}}
                    </div>
                    <div class="metadata">
                        <img src="images/ninjastar.png" height="20"> {{user.ninja_stars}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
